code/node_modules
code/.sass-cache

*.min.js*
code/dist/assets/css/styles.css*

code/dist/config.json
code/dist/api/data.json

code/tests/screenshot*.png
code/tests/artifacts/*

node_modules
code/dist/log/log.txt
code/dist/config.ini
code/dist/api/*.png
code/dist/api/*.jpg
code/tests/livetest/*.png
code/tests/livetest/*.jpg

code/dist/passwords.php

code/dist/*/main.min.js


*.log
*.dll
*.exe
.idea