code/node_modules
code/.sass-cache

code/build/scss/_brand.scss

code/dist/assets/css/*
code/dist/assets/js/*

code/dist/**/*.css
!code/dist/markdown/*.css
code/dist/built.js
!code/dist/thirdparty/*
code/dist/**/*.css.map
code/dist/debug/*

code/dist/documentation
mkdocs/site

code/dist/config.json
code/dist/api/data.json
code/dist/ini/config.ini

code/dist/loginattempts.txt

code/tests/screenshot*.png
code/tests/artifacts/*

node_modules
code/dist/log/log.txt
code/dist/config.ini
code/dist/api/*.png
code/dist/api/*.jpg
code/tests/livetest/*.png
code/tests/livetest/*.jpg

code/dist/ini/passwords.php
code/dist/log/.htusers
code/dist/vendor


*main.min.js

*.log
*.db
*.dll
*.exe
.idea
**swp

docker-compose.yml
docker-compose-complete.yml
docker-compose-minimal.yml

passwords.php

code/dist/wordpress