name: CI

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install mkdocs
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs mkdocs-bootstrap
      - name: Build documentation
        run: |
          cd mkdocs
          mkdocs build
      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Save version
        run: |
          echo $GITHUB_SHA > code/dist/version.txt
          TZ='Europe/Berlin' date >> code/dist/version.txt
      - name: Install webpack dependencies
        run: |
          cd code
          npm install
      - name: Build js and scss
        run: |
          cd code
          npm run build:production
      - name: provide deploy_key
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
        run: |
          mkdir "$HOME/.ssh"
          echo "$DEPLOY_KEY" > "$HOME/.ssh/id_rsa"
          chmod 600 "$HOME/.ssh/id_rsa"
      - name: install composer
        run: |
          composer install
      - name: run deployer for develop
        if: github.ref == 'refs/heads/develop'
        run: |
          php vendor/bin/dep deploy develop
      - name: run deployer for production
        if: github.ref == 'refs/heads/main'
        run: |
          php vendor/bin/dep deploy production

  test:
    runs-on: ubuntu-latest

    services:
      hub:
        image: selenium/hub:3.141.59-gold
        ports:
          - 4444:4444
      chrome:
        image: selenium/node-chrome:3.141.59-20200409
        env:
          HUB_HOST: hub
          HUB_PORT: 4444
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install selenium
        run: |
          python -m pip install --upgrade pip
          pip install selenium

      - name: Add Password
        env:
          PASSWORD_JSON: ${{ secrets.PASSWORD_JSON }}
        run: |
          echo "$PASSWORD_JSON" > "tests/auth.json"

      - name: Run test against develop
        if: github.ref == 'refs/heads/develop'
        run: |
          cd tests
          URL=https://develop.sharepicgenerator.de python test.py
      - name: Run test against live
        if: github.ref == 'refs/heads/main'
        run: |
          cd tests
          URL=https://sharepicgenerator.de python test.py
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: tests/artifacts/*.png
